<div style="font-family: cursive; font-size: 20px; color: #B0E0E6; text-align: center;">
    <alt="Confirmación de Cita" style="width: 100px; height: auto; margin-bottom: 10px;">
    <h1 style="background-color: #F5FFFA; padding: 5px;">Confirmación de cita, {{name}}!</h1>
    <p>{{message}}</p>
    <footer style="font-size: 12px; color: #e0c4e8;">
        <p>Este es un correo automático, por favor no responda.</p>
    </footer>
</div>



